.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}
.textSection {
  max-width: 83%;
  text-align: justify;
}

.text {
  font-size: 19px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.img__container {
  position: relative;
}

.about__img{
  width: 370px;
  height: 440px;
  background-image: url("../assets/images/cropped_lan.png");
  background-repeat: no-repeat;
  background-color: #BDFF00;
  border-radius: 6px;
}
.about__img::before{
  content: '';
  position: absolute;
  /* display: block; */
  top: 20px;
  left: 20px;
  width: 370px;
  height: 440px;
  border: 2px solid #BDFF00;
  z-index: -5px;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: center;
  
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px; */
    /* position: relative; */
  }
  .textSection {
    max-width: 100%;
    text-align: left;
  }
  .about__img{
    width: 100%;
    height: 340px;
    background-image: url("../assets/images/lan-green.png");
    background-repeat: no-repeat;
    background-color: unset;
    border-radius: 6px;
  }
  .about__img::before{
    content: '';
    position: absolute;
    display: none;
  }
}