@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  /* background: #f2f2f2; */
  /* white */
  /* background: #FFFFFD; */
  /* dark mode */
  background: #0B192E;
  color: #333;
  /* font-family: "Nunito"; */
  font-family: 'League Spartan', sans-serif;
  /* overflow-x: hidden; */
}
a {
  /* color: #333; */
  /* color: #ccd6f6; */
  /* color: #8892b0; */
  text-decoration: none;
}
.content {
  max-width: 1200px;
  /* max-width: 1296px; */
  margin: 0 auto;
  /* background: #0B192E; */
}
nav {
  /* position: absolute; */
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  /* border-bottom: 1px solid #ddd; */
  top: 0;
  z-index: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav__menu {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.nav__menu__item {
  padding: 0 2.5rem;
  color: #FFEBE7;
  /* font-size: 2rem; */
  font-weight: 400;
  transition: color .3s ease-in-out;
}
.nav__menu__item:hover {
  color: goldenrod;
}
/* nav a {
  margin-left: 12px;
} */
/* nav .logo {
  margin-right: auto;
} */
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionHeader {
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  color: #BDFF00;
  margin-bottom: 30px;
}
.body__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  margin-bottom: 50px;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: black; */
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 22px;
  }
  nav {
    margin-bottom: 40px;
  }
  .nav__menu {
    display: none;
  }
  .body__text {
    font-size: 19px;
    margin-bottom: 30px;
  }
  
}