.portfolio {
  margin: 85px 0;
}
.text {
  margin-bottom: 50px;
}
.project {
  position: relative;
  margin-bottom: 110px;
}
.info_one {
  position: absolute;
  right: 0;
  top: 80px;
  text-align: end;
}
.info_two {
  position: absolute;
  z-index: 100;
  top: 56px;
}
.project-box {
  padding: 41px 22px 89px 70px;
  background: #112240;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: fit-content;
  margin: 13px 0;
  min-height: 179px;
}
.project-info {
  max-width: 556px;
  font-size: 16px;
  line-height: 24px;
}
.imageFlipped {
  transform: translateX(510px);
}
.boxFlipped {
  padding-left: 22px;
  padding-right: 70px;
}
.enyata {
  background-image: -webkit-linear-gradient(rgba(189, 255, 0, 0.2), rgba(189, 255, 0, 0.2)), url('../assets/images/enyata.png');
}
.enyata:hover {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../assets/images/enyata.png');
}

.kafene {
  background-image: -webkit-linear-gradient(rgba(189, 255, 0, 0.2), rgba(189, 255, 0, 0.2)), url('../assets/images/kafene3.png');
}
.kafene:hover {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../assets/images/kafene3.png');
}
.volley {
  background: -webkit-linear-gradient(rgba(189, 255, 0, 0.2), rgba(189, 255, 0, 0.2)), url('../assets/images/volley2.png');
}
.volley:hover {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../assets/images/volley2.png');
}
.project__image {
  width: 693px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.project-link {
  font-size: 16px;
  line-height: 24px;
}
.project-link:hover {
  color: #BDFF00;
}
.small__screen {
  display: none;
}


@media screen and (max-width: 1024px) {
  .project {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .project-info {
    max-width: 100%;
  }
  .info_one,
  .info_two  {
    position:static;
    text-align: unset;
  }
  .project-box {
    padding: 18px;
    width: fit-content;
    margin: 13px 0;
    min-height: unset;
  }
  .project-link {
    font-size: 13px;
    line-height: 24px;
    margin-top: 20px;
  }
  .project-info {
    margin-bottom: 13px;
    font-weight: lighter;
    text-align: justify;
  }
  .imageFlipped {
    transform: translateX(0);
  }
  .large__screen {
    display: none;
  }
  .small__screen {
    display: inline-block;
  }
  .enyata {
    background-image: url('../assets/images/enyata.png');
  }
  .kafene {
    background-image: url('../assets/images/kafene3.png');
  }
  .volley {
    background: url('../assets/images/volley2.png');
  }
  .project__image {
    width: 100%;
    min-width: 908px;
    /* height: 170px; */
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .project__image {
    height: 370px;
    min-width: unset;
    background-size: cover;
  }
}

@media screen and (max-width: 540px) {
  .project__image {
    height: 170px;
  }
}